{{ "<!-- CV -->" | safeHTML }}
<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">    {{ with .Site.Params.cv.headline }}<h2>{{ . }}</h2>{{ end }}
            <!-- Trigger the modal with a link -->
            <a href="#CV" class="btn btn-primary btn-xl wow tada">{{ .Site.Params.cv.button.text }}</a>
        </div>
    </div>
</aside>
<!-- Modal -->
<!-- Call in footer -->
<div id="CV" class="portfolio-modal modal fade" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                TEST
            </div>
        </div>
    {{ with $.Site.Params.portfolio.modal.buttonText }}
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>{{.}}</button>
    {{ end }}
    </div>
</div>
</div>
